/* Base */
/* Font color */
/* Bg Color*/
/* Normalize */
h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0; }

ul, li {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.no-pad-top {
  padding-top: 0; }

.no-pad-bottom {
  padding-bottom: 0; }

.container {
  width: 85% !important; }

body {
  font-family: "Open Sans", Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  color: #000; }

a {
  color: seagreen; }

a:hover {
  color: lightseagreen;
  text-decoration: none; }

/* Layouts */
/* Navbar */
.navbar {
  font-family: "Roboto Condensed";
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 1px solid seagreen;
  border-radius: 0;
  min-height: 30px !important;
  background-color: seagreen; }
  .navbar a {
    color: #fff !important; }

.dropdown-menu {
  background-color: darkseagreen;
  border-radius: 0; }
  .dropdown-menu a:hover {
    background-color: seagreen !important; }

.navbar-form .btn-search {
  color: seagreen; }

.navbar-inverse .navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px; }

.navbar-inverse .navbar-nav > li > a.home {
  padding-left: 18px;
  padding-right: 18px;
  background-color: darkslategray; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: darkseagreen;
  color: #fff  !important; }

.navbar-inverse .navbar-toggle {
  background-color: seagreen;
  border: 0; }

#scrollUp {
  bottom: 55px;
  right: 20px;
  padding: 10px 12px;
  background-color: seagreen;
  color: #fff; }

.footer {
  height: 50px;
  background-color: seagreen; }
  .footer h4 {
    font-size: 12px;
    margin-top: 10px;
    color: whitesmoke; }
  .footer .social-list {
    margin-top: 10px; }
    .footer .social-list a {
      color: darkseagreen;
      margin-left: 5px; }
    .footer .social-list a:hover {
      color: whitesmoke;
      text-decoration: none; }

/* Modules */
.header-section {
  margin-top: 5px;
  margin-bottom: 5px; }

.main-content {
  margin-top: 20px;
  color: #666;
  font-size: 12px;
  min-height: 450px; }

.breadcrumbs {
  margin-bottom: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700; }
  .breadcrumbs .seperator {
    margin: 0 5px; }
  .breadcrumbs a.last {
    color: darkslategray; }
  .breadcrumbs a:hover.last {
    color: lightseagreen; }

.overlay-caption {
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  min-height: 90px;
  padding: 5px 5px; }
  .overlay-caption .title {
    font-size: 16px;
    font-weight: bold; }
  .overlay-caption .intro {
    color: whitesmoke; }

.featured-section {
  border: 0px solid red;
  margin-bottom: 10px; }

.highlight-section .highlight-others .caption {
  line-height: normal;
  height: 80px;
  overflow: hidden;
  padding: 0;
  color: #000; }
.highlight-section .hot-section {
  height: 485px;
  padding: 1px 2px; }
  .highlight-section .hot-section .hot-list .hot-item {
    border-bottom: 1px solid #ccc;
    border-bottom-style: dashed;
    min-height: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px; }

.category-section {
  min-height: 700px;
  border: 0px solid red; }
  .category-section .category-block {
    margin-bottom: 20px;
    border: 0px solid red; }
  .category-section .overlay-category-section {
    min-height: 70px; }
  .category-section .category-item-list .category-item {
    border-bottom: 1px solid #ccc;
    border-bottom-style: dashed;
    padding-bottom: 5px;
    margin-bottom: 5px; }
    .category-section .category-item-list .category-item .item-container {
      height: 80px;
      position: relative; }
      .category-section .category-item-list .category-item .item-container .thumbnail-box {
        position: absolute;
        top: 1px;
        left: 0;
        height: 80px;
        width: 40%;
        overflow: hidden; }
        .category-section .category-item-list .category-item .item-container .thumbnail-box img {
          width: 100%; }
      .category-section .category-item-list .category-item .item-container .item-title {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        padding-left: 8px;
        height: 100%;
        overflow: hidden; }

.full-ads-section {
  margin-bottom: 20px; }

/*CATEGORY PAGE*/
.cat-highlight-item .cat-highlight-title {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: bold;
  text-align: justify;
  margin-bottom: 5px; }
.cat-highlight-item .cat-highlight-intro {
  font-size: 14px;
  text-align: justify;
  font-weight: bold;
  line-height: 1.2em; }
.cat-highlight-item .relation-list {
  margin-top: 5px;
  font-weight: bold; }

.most-read-section .most-read-list {
  height: 400px;
  padding-right: 10px;
  border: 0px solid red; }
  .most-read-section .most-read-list .most-item {
    border-bottom: 1px solid #ccc;
    border-bottom-style: dashed;
    margin-bottom: 5px;
    padding-bottom: 5px; }
    .most-read-section .most-read-list .most-item a.title {
      font-size: 14px;
      font-weight: bold; }
    .most-read-section .most-read-list .most-item .intro {
      margin-top: 5px; }
.most-read-section .in-search-page {
  height: 600px !important; }

.item-list-section {
  margin-top: 30px; }
  .item-list-section .item-list .item-row {
    display: inline-block;
    margin-bottom: 30px; }
    .item-list-section .item-list .item-row .item-container {
      display: inline-block; }
      .item-list-section .item-list .item-row .item-container .featured-image {
        width: 40%;
        height: 40%;
        padding-top: 3px; }
        .item-list-section .item-list .item-row .item-container .featured-image img {
          width: 100%; }
      .item-list-section .item-list .item-row .item-container .item-content {
        padding-left: 41%; }
        .item-list-section .item-list .item-row .item-container .item-content .item-title {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 5px;
          line-height: 1.4em; }
        .item-list-section .item-list .item-row .item-container .item-content .item-intro {
          text-align: justify;
          font-size: 14px;
          line-height: 1.5em; }
  .item-list-section .item-list .last-item {
    margin-bottom: 0px; }

.ads-below-most-read {
  margin-top: 30px;
  height: auto; }

/*DETAIL SECTION*/
.detail-section .detail-toolbar {
  margin-bottom: 10px; }
.detail-section .detail-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.4em;
  color: seagreen; }
.detail-section .detail-intro {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.7em; }
.detail-section .detail-content {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.7em;
  text-align: justify; }
.detail-section .relation-list {
  margin-top: 30px;
  margin-bottom: 30px; }

.ads-below-detail {
  margin-bottom: 30px; }

a.caption-a {
  color: whitesmoke; }

a:hover.caption-a {
  color: lightseagreen;
  text-decoration: none; }

.thumbnail-image {
  position: relative;
  padding: 0;
  margin: 0px 0px 2px 0px; }

.fix-ads-below {
  position: fixed;
  top: 23px;
  z-index: 100; }

.heading-title {
  border-bottom: 1px solid seagreen;
  margin-bottom: 5px;
  font-family: "Roboto Condensed";
  font-size: 14px;
  padding-bottom: 3px; }
  .heading-title .first {
    background-color: seagreen;
    color: whitesmoke;
    padding: 2px 5px;
    margin-right: 10px;
    font-weight: bold; }
    .heading-title .first a {
      color: whitesmoke; }
    .heading-title .first a:hover {
      color: whitesmoke;
      text-decoration: none; }
  .heading-title .next {
    font-size: 12px;
    font-weight: bold; }
  .heading-title .separate {
    margin: 0px 5px; }

.fa-2 {
  font-size: 18px; }

.fa-3 {
  font-size: 24px; }

.fa-4 {
  font-size: 27px; }

.fa-5 {
  font-size: 35px; }

.fa-6 {
  font-size: 40px; }

text-seagreen {
  color: seagreen; }

/* BLOCK */
.category-block {
  margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
