body{
    font-family: 'Roboto', 'Roboto Condensed', 'Open Sans';
    font-size: 12px;
}

p{
    margin: 0px;
}

.content .search-block{
    margin-bottom: 10px;
}

.spinner{
    font-family: 'Roboto Condensed', sans-serif;
    color: lightseagreen;
    display: none;
}

.spinner.inline{
    display: inline;
    font-size: 14px;
}

.spinner.block{
    display: block;
    font-size: 20px;
}

.spinner.spinner-left{
    text-align: left;
    margin-left: 2px;
}

.spinner.spinner-center{
    text-align: center;
    margin-top: 2px;
}

.sortable-list{
    
}

.block-overlay{
    position: absolute;
    opacity : 0.7;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    z-index: 50;
    text-align: center;
    padding-top: 10px;
    
}

.block-overlay .overlay-text{
    color: seagreen;
    font-size: 30px;
}

.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
    height: 80px;
}

.btn-move{
    cursor: move;
}

#ui-datepicker-div{
    font-size: 12px;
}

.main-footer{
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.vtop-offset  { margin-top: 2px; }
.vtop-offset1 { margin-top: 5px; }
.vtop-offset2 { margin-top: 10px; }
.vtop-offset3 { margin-top: 15px; }
.vtop-offset4 { margin-top: 30px; }
.vtop-offset5 { margin-top: 40px; }
.vtop-offset6 { margin-top: 60px; }
.vtop-offset7 { margin-top: 80px; }
.vtop-offset8 { margin-top: 100px; }
.vtop-offset9 { margin-top: 150px; }

.review-result{
    font-family: arial, sans-serif;
    font-size: 16px;
}

.sidebar-menu, .sidebar-menu .treeview-menu > li > a{
    font-size: 12px;
}

legend{
    font-size: 14px;
}

select > option:disabled{
    font-style: italic;

}

.news-relations-container{
    border: 1px dashed seagreen;
    width: 100% !important;
}

.news-relations-container .news-relations-list{
    margin-top: 15px;
    margin-bottom: 15px;
}